.software-use {
	
	display: block;
	
}
.software-develop {
	
	display: none;
	
}
.secure-control{
	
	display: none;
	
}
.technology-consulting {
	
	display: none;
	
}
.technology-support{
	
	display: none;
	
}